@import "../../styles/variables.scss";


.navbar-main{
    background-color: $main-bg;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        font-size: medium;
        font-weight: bold;
        display: flex;
        align-items: center;
    }

    .icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100px;
        gap: 10%;
    }
}